In [4]:
import pandas as pd
import numpy as np

import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Bidirectional, Dense

In [16]:

news1 = pd.read_csv('./djia_news/djia_news copy.csv')
news2 = pd.read_csv('./nasdaq/nasdaq.csv')

combined_news = news1.append(news2)
combined_news = combined_news[['Label', 'Headline']]
original_news = combined_news
original_news.head()

   Label                                           Headline
0      0  Employer who stole nearly $3M in wages from 15...
1      1  Huge new Facebook data leak exposed intimate d...
2      0  A campaign has accelerated to turn a disused r...
3      1  Google launches global human trafficking helpl...
4      1  Over 3m Saudi Women Don’t Have ID Cards; Saudi...

In [18]:
version_1 = original_news
version_2 = original_news
version_3 = original_news

version_1 = version_1.replace([0,1,2], [1,0,0])
version_2  = version_2.replace([0,1,2], [0,1,0])
version_3  = version_3.replace([0,1,2], [0,0,1])

   Label                                           Headline
0      0  Employer who stole nearly $3M in wages from 15...
1      0  Huge new Facebook data leak exposed intimate d...
2      0  A campaign has accelerated to turn a disused r...
3      0  Google launches global human trafficking helpl...
4      0  Over 3m Saudi Women Don’t Have ID Cards; Saudi...

In [19]:
train_limit = round(len(version_1) * 0.75)

train_data = version_1[0:train_limit]
test_data = version_1[train_limit:]

In [20]:
train_headlines = train_data['Headline']
train_labels = train_data["Label"]

test_headlines = test_data['Headline']
test_labels = test_data['Label']

In [21]:
vocab_size = 10000
emb_size = 50
max_length = 20000
trunc_type = 'post'
padding_type = 'post'
oov_tok = '<oov>'

In [26]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(train_headlines)
word_index = tokenizer.word_index

train_sequences = tokenizer.texts_to_sequences(train_headlines)
train_padded = pad_sequences(train_sequences, maxlen = max_length, padding = padding_type, truncating = trunc_type)

test_sequences = tokenizer.texts_to_sequences(test_headlines)
test_padded = pad_sequences(test_sequences, maxlen = max_length, padding = padding_type, truncating = trunc_type)

In [30]:
model_1 = Sequential()
model_1.add(Embedding(vocab_size, emb_size, input_length = max_length))
model_1.add(Bidirectional(LSTM(32, return_sequences = True)))
model_1.add(Bidirectional(LSTM(64)))
model_1.add(Dense(64, activation = 'relu'))
model_1.add(Dense(3, activation = 'softmax'))

model_1.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
# model_1.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 20000, 50)         500000
_________________________________________________________________
bidirectional_4 (Bidirection (None, 20000, 64)         21248
_________________________________________________________________
bidirectional_5 (Bidirection (None, 128)               66048
_________________________________________________________________
dense_4 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 195
=================================================================
Total params: 595,747
Trainable params: 595,747
Non-trainable params: 0
_________________________________________________________________